/* Styles/config for planets */

/* mercury */

.mercury {
    width: 400px;
    height: 400px;
}

.mercury .planet-orbit {
    animation-duration: 5s;
}

.mercury .planet {
    width: 10px;
    height: 10px;
    background-color: white;
}

/* venus */

.venus {
    width: 600px;
    height: 600px;
}

.venus .planet-orbit {
    animation-duration: 10s;
}

.venus .planet {
    width: 20px;
    height: 20px;
    background-color: white;
}

/* earth */

.earth {
    width: 800px;
    height: 800px;
}

.earth .planet-orbit {
    animation-duration: 15s;
}

.earth .planet {
    width: 20px;
    height: 20px;
    background-color: white;
}

/* mars */

.mars {
    width: 1000px;
    height: 1000px;
}

.mars .planet-orbit {
    animation-duration: 20s;
}

.mars .planet {
    width: 15px;
    height: 15px;
    background-color: white;
}