body {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
    margin: 0;
    background-color: #332d33;
    position: relative;
    overflow-x: hidden;
}

h1 {
    color: white;
    opacity: 0.4;
    text-align: center;
    font-weight: 300;
    text-shadow: -3px 3px 1px rgba(0,0,0,0.3);
}

.container {
    position: relative;
    overflow: hidden;
}

/* Header */

#header {
    position: relative;
    text-align:center;
    width: 100%;
    height: calc(100% - 5em); /* 5em is height of menu */
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.title-wrapper {
    color: white;
    width: 100%;
    position: absolute;
    top: 9.5em;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 100;
}

.subtitle {
    font-weight: 300;
    font-size: 2em;
    line-height: 0.5em;
    opacity: 0.4;
}

.title {
    font-weight: 400;
    font-size: 3.5em;
}

.title.thin {
    font-weight: 100;
}

/* Menu */

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 5em;
    transition: all 1s ease;
    z-index: 100;
}

#menu.scrolled {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    line-height: 1.75em;
    margin: 0 1em 0 1em;
    cursor: pointer;
    opacity: 0.5;
    transition: all 1s ease;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

#menu ul li:hover {
    opacity: 1;
    border-color: white;
}

#menu ul li.selected {
    opacity: 1;
    border-color: white;
}

#menu ul li i {
    padding-right: 10px;
}

#menu ul li a {
    color: inherit;
    text-decoration: none;
}

#menu-filler {
    height: 5em;
    display: none;
}

/* Planetarium */

.planetarium {
    width: 100%;
    position: absolute;
    top: 27em;
}

.planetarium div {
    position: absolute;
    box-sizing: border-box;
}

.planet-orbit {
    width: 100%;
    height: 100%;
    animation-name: orbit-anim;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.planet {
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white; /* default color */
}

.orbit-ring {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dashed white;
    opacity: 0.05;
}

.sun {
    width: 200px;
    height: 200px;
}

.circle {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

/* Content */

.section-ring {
    margin-top: -2em;
    border-bottom: 1px dashed white;
    width: 1800px;
    height: 1800px;
    border-radius: 50%;
    transform: translateY(-100%);
    opacity: 0.1;
}

/* Positioning */

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.center-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Animations */

@keyframes orbit-anim {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes pulse-anim {
    0%      {opacity: 0; transform: scale(1, 1)}
    70%     {opacity: 0.1}
    100%    {opacity: 0; transform: scale(1.75, 1.75)}
}

.delay-one {
    animation-delay: -1s;
}

.delay-two {
    animation-delay: -2s;
}

.delay-three {
    animation-delay: -3s;
}

.radiate {
    animation-name: pulse-anim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
