.rc-Header {
  position: fixed;
  width: 100vw;
  height:100vh;
  overflow: hidden;
  background-color: #332d33;

  .-logoContainer {
    position: relative;
    z-index: 10;
    width: 100vw;
    height: 50vh;
  }
}